{% extends 'humans.html' %}

{% block content %}

<h1>Yamcha</h1>
<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/84dc13b7-a2e7-4b45-83ec-311e72e82900/ddmjua0-49ae0baf-d86f-48c3-bf34-0f293b5f8108.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzg0ZGMxM2I3LWEyZTctNGI0NS04M2VjLTMxMWU3MmU4MjkwMFwvZGRtanVhMC00OWFlMGJhZi1kODZmLTQ4YzMtYmYzNC0wZjI5M2I1ZjgxMDgucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.dvK5Ihbe5PaGEo3iAnZB9i1g5VTocn_4tJ_mOmApnBQ" alt="Yamcha">

{% endblock content %}